In [1]:
import pandas as pd

In [2]:
full_data = pd.read_csv('12milcd.csv')

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
full_data

,Id,Price,Year,Mileage,City,State,Vin,Make,Model,drop1,drop2
0,1,16472,2015,18681,Jefferson City,MO,KL4CJBSBXFB267643,Buick,EncoreConvenience,NaN,NaN
1,2,15749,2015,27592,Highland,IN,KL4CJASB5FB245057,Buick,EncoreFWD,NaN,NaN
2,3,16998,2015,13650,Boone,NC,KL4CJCSB0FB264921,Buick,EncoreLeather,NaN,NaN
3,4,15777,2015,25195,New Orleans,LA,KL4CJASB4FB217542,Buick,EncoreFWD,NaN,NaN
4,5,16784,2015,22800,Las Vegas,NV,KL4CJBSB3FB166881,Buick,EncoreConvenience,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1233037,1233038,79900,2017,25,East Hanover,NJ,YV4BC0ZX0H1128239,Volvo,XC90T8,NaN,NaN
1233038,1233039,80895,2017,10,Corte Madera,CA,YV4BC0ZX0H1124188,Volvo,XC90T8,NaN,NaN
1233039,1233040,68755,2018,2500,Englewood,NJ,YV4A22PL4J1212676,Volvo,XC90T6,NaN,NaN
1233040,1233041,72260,2017,3201,Englewood,NJ,YV4A22PL3H1186162,Volvo,XC90T6,NaN,NaN
1233041,1233042,60240,2017,8342,San Leandro,CA,YV4A22NLXH1006162,Volvo,V90,NaN,NaN

In [4]:
full_data['State'].value_counts()

 TX    141741
 CA    115732
 FL    107379
 GA     55939
 IL     55262
 NC     53337
 VA     49220
 PA     40815
 NJ     38573
 NY     38332
 OH     34233
 WA     33456
 CO     33257
 AZ     33106
 TN     28035
 MA     26330
 MD     25436
 IN     23606
 MO     23479
 KY     20116
 AL     18772
 WI     16476
 MN     16031
 UT     15325
 MI     15303
 OK     15044
 CT     14961
 OR     14906
 SC     14316
 LA     11621
 KS     11152
 NV     10465
 AR      9704
 MS      8670
 NH      8320
 NE      7287
 NM      7127
 IA      6890
 ID      5090
 HI      3740
 DE      3737
 MT      2727
 ME      2623
 RI      2596
 AK      2289
 WV      2019
 ND      1878
 SD      1681
 VT      1543
 Fl      1079
 WY      1008
 Va       393
 Md       239
 Ga       200
 ga       185
 Oh        96
 Az        91
 Ca        45
 DC        29
Name: State, dtype: int64

In [5]:
unique6 = full_data['State'].nunique()
unique6

59

In [6]:
ga = full_data[~full_data.State.str.contains("ga")]

In [7]:
Ca = ga[~full_data.State.str.contains("Ca")]

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [8]:
Va = Ca[~full_data.State.str.contains("Va")]

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [9]:
Md = Va[~full_data.State.str.contains("Md")]

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [10]:
Ga = Md[~full_data.State.str.contains("Ga")]

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [11]:
Oh = Ga[~full_data.State.str.contains("Oh")]

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [12]:
Az = Oh[~full_data.State.str.contains("Az")]

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [13]:
Fl = Az[~full_data.State.str.contains("Fl")]

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [45]:
unique8 = Fl['State'].nunique()
unique8

51

In [46]:
Fl.to_csv('next_dataset2.csv')

In [47]:
Fl['Model'] = Fl['Model'].replace(
    {'Soul#NAME?': 'Soul'})

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [48]:
Fl['Model'] = Fl['Model'].replace(
    {'RDX*1-OWNER*LTHR*ROOF*BACK-UP*TECH': 'RDX'})

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [49]:
Fl['Model'] = Fl['Model'].replace(
    {'MalibuFleet*1-Owner*Clean': 'MalibuFleet'})

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [50]:
Fl['Model'] = Fl['Model'].replace(
    {'1500**7"""': '1500'})

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [51]:
Fl['Model'] = Fl['Model'].replace(
    {'"Expedition119"""': 'Expedition119'})

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [52]:
Fl['Model'] = Fl['Model'].replace(
    {'"Excursion137"""': 'Expedition119'})

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [53]:
unique10 = Fl['State'].nunique()
unique10

51

In [21]:
# Fl.to_csv('new_temporary_dataset1.csv')

In [22]:
# Fl.to_csv('temporary_dataset.csv')

In [23]:
# unique = full_data['Vin'].nunique()
# unique

In [54]:
new_data5 = Fl.drop_duplicates(subset=['Vin'], keep='first')
print(new_data)

              Id  Price  Year  Mileage            City State  \
0              1  16472  2015    18681  Jefferson City    MO
1              2  15749  2015    27592        Highland    IN
2              3  16998  2015    13650           Boone    NC
3              4  15777  2015    25195     New Orleans    LA
4              5  16784  2015    22800       Las Vegas    NV
...          ...    ...   ...      ...             ...   ...
1233037  1233038  79900  2017       25    East Hanover    NJ
1233038  1233039  80895  2017       10    Corte Madera    CA
1233039  1233040  68755  2018     2500       Englewood    NJ
1233040  1233041  72260  2017     3201       Englewood    NJ
1233041  1233042  60240  2017     8342     San Leandro    CA

                       Vin   Make              Model
0        KL4CJBSBXFB267643  Buick  EncoreConvenience
1        KL4CJASB5FB245057  Buick          EncoreFWD
2        KL4CJCSB0FB264921  Buick      EncoreLeather
3        KL4CJASB4FB217542  Buick          EncoreFWD
4        KL4CJBSB3FB166881  Buick  EncoreConvenience
...                    ...    ...                ...
1233037  YV4BC0ZX0H1128239  Volvo             XC90T8
1233038  YV4BC0ZX0H1124188  Volvo             XC90T8
1233039  YV4A22PL4J1212676  Volvo             XC90T6
1233040  YV4A22PL3H1186162  Volvo             XC90T6
1233041  YV4A22NLXH1006162  Volvo                V90

[1233042 rows x 9 columns]

In [55]:
new_data5.drop(['drop1', 'drop2'],axis=1,inplace=True)

In [26]:
# new_data

In [27]:
# new_data.count()

In [28]:
# new_data.dtypes

In [29]:
# new_data['Make'].value_counts()

In [30]:
# new_data['Model'].value_counts()

In [31]:
new_data.shape

(1233042, 9)

In [56]:
new_data5

,Id,Price,Year,Mileage,City,State,Vin,Make,Model
0,1,16472,2015,18681,Jefferson City,MO,KL4CJBSBXFB267643,Buick,EncoreConvenience
1,2,15749,2015,27592,Highland,IN,KL4CJASB5FB245057,Buick,EncoreFWD
2,3,16998,2015,13650,Boone,NC,KL4CJCSB0FB264921,Buick,EncoreLeather
3,4,15777,2015,25195,New Orleans,LA,KL4CJASB4FB217542,Buick,EncoreFWD
4,5,16784,2015,22800,Las Vegas,NV,KL4CJBSB3FB166881,Buick,EncoreConvenience
...,...,...,...,...,...,...,...,...,...
1233037,1233038,79900,2017,25,East Hanover,NJ,YV4BC0ZX0H1128239,Volvo,XC90T8
1233038,1233039,80895,2017,10,Corte Madera,CA,YV4BC0ZX0H1124188,Volvo,XC90T8
1233039,1233040,68755,2018,2500,Englewood,NJ,YV4A22PL4J1212676,Volvo,XC90T6
1233040,1233041,72260,2017,3201,Englewood,NJ,YV4A22PL3H1186162,Volvo,XC90T6
1233041,1233042,60240,2017,8342,San Leandro,CA,YV4A22NLXH1006162,Volvo,V90

In [33]:
# new_data.to_csv('dataset_1.csv')

In [57]:
unique1 = new_data5['Make'].unique()
unique1

array(['Buick', 'Acura', 'Alfa', 'Aston', 'Audi', 'Bentley', 'BMW',
       'Cadillac', 'Chevrolet', 'Chrysler', 'Dodge', 'FIAT', 'Ford',
       'GMC', 'Honda', 'Genesis', 'Geo', 'Freightliner', 'Ferrari',
       'Fisker', 'AM', 'Jeep', 'Kia', 'Lamborghini', 'Land', 'Lexus',
       'Lincoln', 'Lotus', 'Maserati', 'Maybach', 'Mazda', 'McLaren',
       'Mercedes-Benz', 'Mercury', 'MINI', 'Mitsubishi', 'Nissan',
       'Oldsmobile', 'Plymouth', 'Pontiac', 'Porsche', 'Ram',
       'Rolls-Royce', 'Saab', 'Saturn', 'Scion', 'smart', 'Subaru',
       'Suzuki', 'Tesla', 'Toyota', 'Volkswagen', 'Volvo', 'HUMMER',
       'Hyundai', 'INFINITI', 'Isuzu', 'Jaguar'], dtype=object)

In [58]:
df3 = new_data5[new_data5['Mileage'] < 1000000]
df3

,Id,Price,Year,Mileage,City,State,Vin,Make,Model
0,1,16472,2015,18681,Jefferson City,MO,KL4CJBSBXFB267643,Buick,EncoreConvenience
1,2,15749,2015,27592,Highland,IN,KL4CJASB5FB245057,Buick,EncoreFWD
2,3,16998,2015,13650,Boone,NC,KL4CJCSB0FB264921,Buick,EncoreLeather
3,4,15777,2015,25195,New Orleans,LA,KL4CJASB4FB217542,Buick,EncoreFWD
4,5,16784,2015,22800,Las Vegas,NV,KL4CJBSB3FB166881,Buick,EncoreConvenience
...,...,...,...,...,...,...,...,...,...
1233037,1233038,79900,2017,25,East Hanover,NJ,YV4BC0ZX0H1128239,Volvo,XC90T8
1233038,1233039,80895,2017,10,Corte Madera,CA,YV4BC0ZX0H1124188,Volvo,XC90T8
1233039,1233040,68755,2018,2500,Englewood,NJ,YV4A22PL4J1212676,Volvo,XC90T6
1233040,1233041,72260,2017,3201,Englewood,NJ,YV4A22PL3H1186162,Volvo,XC90T6
1233041,1233042,60240,2017,8342,San Leandro,CA,YV4A22NLXH1006162,Volvo,V90

In [59]:
# df3.to_csv('temp_dataset.csv')

In [60]:
unique2 = df3['Model'].nunique()
unique2

3107

In [61]:
unique3 = df3['Model'].unique()
unique3

array(['EncoreConvenience', 'EncoreFWD', 'EncoreLeather', ..., 'V70GLT',
       'V70R', '8504dr'], dtype=object)

In [62]:
unique4 = df3['State'].unique()
unique4

array([' MO', ' IN', ' NC', ' LA', ' NV', ' NY', ' CA', ' AR', ' FL',
       ' AZ', ' KY', ' TN', ' MI', ' TX', ' PA', ' OK', ' NJ', ' MD',
       ' OH', ' GA', ' CO', ' ND', ' AL', ' IL', ' MA', ' WA', ' WI',
       ' MN', ' VA', ' KS', ' RI', ' OR', ' MS', ' NM', ' SC', ' NE',
       ' IA', ' NH', ' UT', ' ME', ' CT', ' HI', ' ID', ' DE', ' MT',
       ' WV', ' WY', ' SD', ' AK', ' VT', ' DC'], dtype=object)

In [63]:
unique5 = df3['Year'].unique()
unique5

array([2015, 2016, 2014, 2017, 2013, 2006, 2003, 2007, 2005, 2012, 2011,
       2004, 2009, 2008, 2001, 2010, 2018, 2002, 2000, 1999, 1997, 1998])

In [64]:
df3.to_csv('next_dataset5.csv')